  {{!-- <div> {{title}}</div>

        <span>{{post_content}}</span>

        {{user.username}}
         --}}



<article>

    <div class="card" style="width:vw;">
        <div class="card-body">
                <h5 class="card-title"> {{title}} </h5>
            <p class="card-text"> {{post_content}} </p>
            <a href="/post/{{id}}"> {{comment.length}} comment(s)</a>
            <a href="/user/{{id}}">{{user.username}}</a>
        </div>
    </div>
</article>