{{!-- <div>
    <ol class="list-group">
        {{#each post}}
        <div> {{title}}</div>

        <span class="badge bg-primary rounded-pill">        {{post_content}}</span>

        {{user.username}}
        {{/each}}

    </ol>
</div> --}}

{{!-- <article>
    <h2>{{post.title}}</h2>
    <p>{{post.post_content}}</p>
    <a href= "/post{{post.id}}"> {{post.comments.length}} comment(s)</a>
</article> --}}

